CompileFlags:
  Add: [-std=c++17]

Diagnostics:
  ClangTidy:
    Add:
      - 'modernize-*'
      - 'cppcoreguidelines-*'
      - 'clang-analyzer-*'
      - 'clang-diagnostic-*'
      - 'readability-*'
      - 'performance-*'
      - 'bugprone-*'
      - 'hicpp-*'
      - 'misc-*'
      - 'google-*'
    Remove:
      - 'modernize-use-trailing-return-type'
    FastCheckFilter: None
  UnusedIncludes: Strict

InlayHints:
  Enabled: false
  ParameterNames: No
  Designators: false